@import url(./colors.css);

.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.NavBar {
  background-color: var(--dark-mode-primary);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--dark-mode-background);
}

.MainDisplay {
  background-color: var(--dark-mode-background);
  width: 100vw;
  height: calc(100vh - 20vh);
}

svg.css-tzssek-MuiSvgIcon-root {
  position: fixed;
  right: 20px;
  top: 22px;
}

