/* :root .dark {
   --dark-mode-background: #37306B;
   --dark-mode-primary: #66347F;
   --dark-mode-secondary: #9E4784;
   --dark-mode-text: #F7EFE5;
} */

/* :root .dark {
   --dark-mode-background: #1B262C;
   --dark-mode-primary: #0F4C75;
   --dark-mode-secondary: #3282B8;
   --dark-mode-text: #F7EFE5;
} */

:root .dark {
   --dark-mode-background: #262932;
   --dark-mode-primary: #262932;
   --dark-mode-secondary: #3282B8;
   --dark-mode-text: #F7EFE5;
}
:root .white {
   --white-mode-background: #F7EFE5;
   --white-mode-primary: #674188;
   --white-mode-secondary: #C3ACD0;
   --white-mode-text: #37306B;
}