@import url(../../colors.css);

span.title {
    font-size: 30px;
}

span.year,
span.runtime {
    font-size: small;
    margin: 0 20px;
}

div.yourRating {
    margin-right: 20px;
}

div.yearContainer,
div.runtimeContainer {
    display: flex;
    flex-direction: column;
}


div.movieWeb {
    width: 90%;
    min-height: 1500px;
    margin: 0;
    padding: 0px;
    margin: auto;
    background: #1D2043;
    border-radius: 6px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

div.poster {
    width: 90%;
    min-height: 600px;
    background: #252953;
    opacity: 0.95
}

div.allInfo {
    width: 90%;
    min-height: 100px;
    background: #252953;
    opacity: 0.95;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span.css-iljtu2-MuiRating-root {
    margin: 10px
}


div.yourRating,
div.webRating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px
}

div.additionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 34px;
}

div.reviews {
    width: 90%;
    min-height: 300px;
    background: #252953;
    margin: 10px;

}

div.reviewInput {
    width: 90%;
    min-height: 300px;
    background: #252953;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

div.allComents {
    display: flex;
    flex-direction: column;
}

div.usersReviews {
    display: flex;
    flex-direction: row;
}

div.userInfo {
    display: flex;
    flex-direction: inherit;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 70px;
}

h3.name {
    margin-top: 40px;
}


.rating svg.css-i4bv87-MuiSvgIcon-root {
    position: relative;
    left: 34px
}

div.plot {
    width: 90%;
    min-height: 300px;
    background: #252953;
    margin: 10px;
}

div.directors {
    width: 90%;
    min-height: 300px;
    background: #252953;
    margin: 10px;
}

div.actors {
    width: 90%;
    min-height: 300px;
    background: #252953;
    margin: 10px;
}

div.css-1ps6pg7-MuiPaper-root {
padding: 40px 20px;
    margin-left: 68px;
    margin-top: 10px;
    width: 90%;
    background: #9ea2c812;
    opacity: 0.9;
    border-radius: 20px;
}

div.movieInfo {
margin-left: 20px}

form.css-otp49b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.css-sghohy-MuiButtonBase-root-MuiButton-root {
margin: 20px
}