.Main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--dark-mode-background);
  }

  .Movies {
    display: flex;
    margin-top: 150px;
  }

  .Drawer {
    width: 300px;
    background-color: aqua;
  }